<template>
    <h1 v-if="isConnected">We're connected to the server!</h1>
    <div>
      <p>Message from server: "{{socketMessage}}"</p>
      <button @click="clickButton()">Ping Server</button>
    </div>
    <div style="background-color:red" @click="clickOptionOne()">Option 1: {{ optionOneCount }}</div>
    <div style="background-color:green" @click="clickOptionTwo()">Option 2: {{ optionTwoCount }}</div>
  </template>
  

  <script>

  export default {
    data() {
      return {
        isConnected: false,
        socketMessage: '',
        optionOneCount: 0,
        optionTwoCount: 0
      }
    },
    sockets: {
        connect: function () {
            this.isConnected = true
            console.log('socket connected')
        },
        pongServer: function (data) {
            this.socketMessage = data
            console.log('this method was fired by the socket server. eg: io.emit("pongServer", data)')
        },
        pongVoteResult: function (data) {
            this.optionOneCount = data.optionOne
            this.optionTwoCount = data.optionTwo
        }
    },
    methods: {
        clickButton: function () {
            // $socket is socket.io-client instance
            this.$socket.emit('clientMessage', {})
        },
        clickOptionOne: function () {
            this.$socket.emit('voteOptionOne', {})
        },
        clickOptionTwo: function () {
            this.$socket.emit('voteOptionTwo', {})
        }
    }
  }
  </script>